@charset "UTF-8";

body {
	background-color: white;
	justify-content: center;
}

#container {
	display: flex;
	font-family: "Nanum Gothic";
}

#main {
	display: flex;
	margin-left: 220px;
	width: 100%;
	height: 100%;
    float: left;
	position: absolute;

}

/* .maxwidth {
	max-width: 800px;
    margin: 0 auto;
    padding: 20px;
} */

.menu1 {
	float: left;
	width: 130px;
	height: 30px;
	margin-top: 30px;
	margin-left: 35px;
	padding-top: 12px;;
	border-radius: 5px;
	background-color: #f2f2f2;
	font-size: 12pt;
	font-weight: bold;
	color: #262626;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	display: block;
}


.menu1:hover {
	width: 130px;
	height: 30px;
	display: block;
	background: #fcfcfc;
	color: #262626;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	padding-top: 12px;
}

.menu2 {
	float: left;
	width: 130px;
	height: 30px;
	margin-top: 30px;
	margin-left: 25px;
	padding-top: 12px;
	border-radius: 5px;
	background-color: #f2f2f2;
	font-size: 12pt;
	font-weight: bold;
	color: #262626;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	display: block;
}


.menu2:hover {
	width: 130px;
	height: 30px;
	display: block;
	background: #fcfcfc;
	color: #262626;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	padding-top: 12px;
}

.contentbody {
	top: 80px;
	left: 20px;
	width: 1115px;
	height: 760px;
	position: absolute;
	resize: both;
	float: left;
}
 
.contentbody .addYourPlant{
  width: 200px;
  height: 30px;
  margin:12px;
  z-index: 100;
  background-color: #fcfcfc;
  cursor: pointer;
  position: absolute;
  display: block;
  text-align:center;
  border-radius:5px;
 }
 
 .contentbody .addYourPlant:hover{
 	font-weight:bold;
 }
 

 .pagingview{
 	margin-top: 730px;
	position: absolute;	
	width: 400px;
	height: 30px;
	text-align: center;
	font-size: 11pt;
	left: 350px;
 	
 }

.newmplantbox {
	width: 260px;
	height: 340px;
	margin-top: 10px;
	margin-left: 15px;
	background-color: #fcfcfc;
	float: left;
	border-radius: 5px;
	cursor: pointer;
	
}

.myplantbox {
	width: 260px;
	height: 340px;
	margin-top: 10px;
	margin-left: 15px;
	background-color: #f2f2f2;
	float: left;
	border-radius: 5px;
	cursor: pointer;
	display: block;
	
}

.myplantbox .nickname {
	margin-top: 3px;
	margin-left: 5px;
}

.myplantbox .image {
	margin-top: 7px;
	width: 260px;
	height: 210px;
	background-color: #f2f2f2;
	position: absolute;
}

.myplantbox .information {
	margin-top: 220px;
	margin-left: 10px;
	font-size: 10pt;
	color: #262626;
}

.myplantDetail {
	width : 500px;
	height : 540px;
	position : absolute;
	top : 100px;
	left : 20px;
	padding: 30px;
	padding-left: 200px;
	background-color: #f2f2f2;
	border-radius: 20px;
	
}

.myplantModify {
	width : 500px;
	height : 540px;
	position : absolute;
	top : 100px;
	left : 20px;
	padding: 30px;
	padding-left: 200px;
	background-color: #f2f2f2;
	border-radius: 20px;
	
}

.photo {
	z-index:5;
}

 .myplantAdd {
    top: -200%;
    left: 50%;
	width: 550px;
	height: 600px;
	padding-top:10px;
	padding-left:50px;
	padding-right:50px;
	background-color: #f2f2f2;
	border: 5px solid #262626;
	border-radius: 5px;
	position: absolute;
	float: left;
	z-index: 100;
    transform: translate(-50%, -50%) scale(1.25);
    transition: top 0ms ease-in-out 200mx,
    			opacity 200ms ease-in-out 0mx,
    			transform 200ms ease-in-out 0mx;
 }
 
 .myplantAdd .title {
 	margin-top:10px;
 	font-size:20pt;
 	text-align:center;
 }
 
 .myplantAdd .addinfo {
 	position: absolute;
 	width:300px;
 	height:400px;
 	padding-left: 140px;

 }
 
 .myplantAdd .button{
 	width:550px;
 	height:50px;
 	top:530px;

 	text-align: center;
 	position: absolute;
}
 
 .myplantAdd.active {
   top: 50%;
   opacity: 1;
   transform: translate(-50%, -50%) scale(1);
   transition: top 0ms ease-in-out 0ms,
               opacity 200ms ease-in-out 0ms,
               transform 200ms ease-in-out 0ms;
 }