@charset "UTF-8";

/* 기본값 초기화 */
body, h1, h2, h3, p, ul, li {
	margin: 0;
	padding: 0;
}

/* 전체 스타일 */
body {
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	padding: 0;
}

.content {
	padding-left: 20px;
	padding-top: 20px;
	flex-grow: 1;
	max-width: calc(100% - 260px);
}

.product-info {
    padding: 20px;
}

#pdetail-name {
    font-size: 35px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 35px;
    color: #333;
    max-width: 500px;
}

#pdetail-seller-price {
  margin-top: 10px;
  width: 40%;
  border-collapse: collapse;
}

#pdetail-seller-price th,
#pdetail-seller-price td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

#quantity {
    margin-top: 25px;
    padding: 5px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 120px;
}

.order-form {
    display: flex;
    align-items: center;
    margin-top: 20px;
}


.buttons {
  margin-top: 10px;
}

.orderButton {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #e74c3c;
    color: white;
}

.orderButton {
  background-color: #e74c3c;
  color: white;
}

#thumbnail {
    position: relative;
    left: 400px;
    top: -247px;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 5px;
}

#thumbnail img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.pdetail-detailimg {
  margin-top: 150px;
  max-width: calc(100% - 260px);
  
}

.pdetail-detailimg img {
    max-width: 100%;
    position: relative;
    left: 109px;
    bottom: 343px;
}

.product-images{
	text-align: -webkit-center;
}
